<!DOCTYPE html>
<html ng-app="store">
<head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="StoreController as store">

<section ng-controller="PanelController as panel">
    <ul class="nav nav-pills">
        <li ng-class="{ active: panel.isSelected(1) }">
            <a href ng-click="panel.selectTab(1)">Name</a></li>
        <li ng-class="{ active: panel.isSelected(2) }">
            <a href ng-click="panel.selectTab(2)">Price</a></li>
        <li ng-class="{ active: panel.isSelected(3) }">
            <a href ng-click="panel.selectTab(3)">Description</a></li>
    </ul>

    <div class="row">
        <div ng-repeat="product in store.products | orderBy:'-price'">
            <div ng-hide="product.soldOut" class="col-xs-6 col-md-4">
                <h1> {{product.name}} </h1>

                <h2> {{product.price | currency}} </h2>
                <img ng-src="{{product.image}}"/>

                <p> {{product.description}} </p>
                <button ng-show="product.canPurchase" type="button" class="btn btn-primary">
                    Add to card
                </button>

                <div class="panel" ng-show="panel.isSelected(1)">
                    <h4>Description</h4>

                    <p>{{product.description}}</p>
                </div>

                <div class="panel" ng-show="panel.isSelected(2)">
                    <h4>Specifications</h4>

                    <p>Not there yet.</p>
                </div>

                <div class="panel" ng-show="panel.isSelected(3)">
                    <h4>Reviews</h4>

                    <p>... Nope.</p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
